.shopping-list {
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}

.shopping-list .item-row {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.shopping-list .item-row .checked {
    text-decoration: line-through;
    color: #6c757d;
}
